* {
  padding: 0;
  margin: 0;
  background-size: 100% 100%;
  font-family: Tahoma, Arial;
}

ul {
  list-style: none;
}

li {
  text-align: center;
}

.clearfix:after {
  content: '';
  clear: both;
  display: block;
}

body {
  background-image: url(../img/background.png);
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
  background-color: white;
  -webkit-box-shadow: 0px 6px 12px 1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 6px 12px 1px rgba(0,0,0,1);
  box-shadow: 0px 6px 12px 1px rgba(0,0,0,1);
}

.header-top {
  height: 181.5px;
}

.header-top p {
  color: rgba(18,138,167,0.8);
}

.font-weight {
  font-weight: bold;
}

.main-logo {
  height: 100%;
  margin-left: 30px;
  margin-top: 15px;
  width: 275px;
}

.header-right {
  float: right;
  width: 340px;
  height: 100%;
  margin-right: 35px;
}

.contacts {
  float: right;
  font-size: 12px;
  padding-top: 10px;
}

.contacts p {
  margin: 5px;
}

.flags {
  float: right;
  padding-top: 15px;
}

.flags li {
  display: inline-block;
  font-size: 10px;
  margin: 2px;
}

.flags a:hover {
  text-decoration: none;
}

.photo {
  height: 240px;
  background-image: url(../img/photo.jpg);
}

.menu {
  background-color: #2c2c2c;
  height: 30px;
  width: 998px;
  border: 1px solid #000;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 0px 6px 8px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 6px 8px -1px rgba(0,0,0,1);
  box-shadow: 0px 6px 8px -1px rgba(0,0,0,1);
}

.menu a {
  color: white;
  text-decoration: none;
  display: block;
  line-height: 1.9;
  font-size: 14px;
}

.menu .symbol {
  font-size: 8px;
  vertical-align: middle;
}

.menu li {
  float: left;
  height: 30px;
  width: 142.5px;
  cursor: pointer;
  position: relative;
}

.menu ul {
  display: none;
  position: absolute;
  left: 0;
  top: 30px;
  margin: 0;
  width: 142.5px;
  background: #2c2c2c;
  border-top: 1px solid #000;
  -webkit-box-shadow: 0px 6px 8px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 6px 8px -1px rgba(0,0,0,1);
  box-shadow: 0px 6px 8px -1px rgba(0,0,0,1);
}

.menu li ul li {
  float: none;
  display: block;
}

.menu li:hover ul {
  display: block;
}

.menu li:hover {
 background-color: #7E7F81;
}

.container3 {
  float: left;
  width: 100%;
  height: 540px;
  background-color: #edeef0;
  overflow: hidden;
  position: relative;
}

.container2 {
  float: left;
  height: 540px;
  width: 100%;
  background-color: white;
  border-right: 1px solid #c7cacf;
  position:relative;
  right: 21%;
}

.container1 {
  float: left;
  height: 540px;
  width: 100%;
  background-color: #edeef0;
  font-size: 14px;
  line-height: 1.714;
  color: rgb(66, 76, 67);
  border-right: 1px solid #c7cacf;
  position:relative;
  right: 58%;
}

.container1 .bold {
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin: 1px 0 0 0;
}

.container1 .info {
  float:left;
  height: 100%;
  width:18%;
  overflow: hidden;
  position:relative;
  left:80.5%;
}

.container1 .content {
  float:left;
  height: 100%;
  width:55%;
  overflow: hidden;
  content:' ';
  position:relative;
  left:83.5%;
}

.container1 .news {
  float:left;
  height: 100%;
  width:18%;
  overflow: hidden;
  position:relative;
  left:86.5%;
}

.footer {
  height: 34px;
  clear: both;
  text-align: center;
  color: rgba(255,255,255,0.8);
  font-size: 12px;
  padding: 15px;
}
