* {
  margin: 0;
  padding: 0;
}


body {
  background: #EAE6E6;
}
.wrapper {
  margin: 0 auto;
  position: relative;
  width: 50%;
  height: 630px;
  background: #FFFFFF;
  border: 1px solid black;
  padding-left: 65px;
  margin-top: 30px;
}
h3 {
  width: 50%;
  text-align: center;
  margin: 25px;
  text-decoration: underline;
}
li:first-child {
  margin-top: 25px;
}

ol>li{
  margin-top:10px;
}

ol {
  margin-left: 50px;
}


button {
  height: 50px;
  margin-top: 40px;
  border: 2px solid black;
  background: #8496F1;
  font-size: 15px;
  font-weight: bold;
}
